<% include header.ejs %>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>

<div class="container" class="chat">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body">
                    <ul class="chat" id="chat_box">
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="message_input" type="text" class="form-control input-sm" placeholder="Message...">
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-sm" id="message_send">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer.ejs %>
