<% include header.ejs %>

    <div class="container logged_off">

        <div class="jumbotron text-center">
            <h1><span class="glyphicon glyphicon-lock"></span>Pick Authentication Type</h1>
            <button class="btn btn-primary" style="width: 200px"><img src="/img/local.png" class="login_image">Login locally</button>
            <button class="btn btn-primary" style="width: 200px"><img src="/img/twitter.png" class="login_image">Login via Twitter</button>
            <button class="btn btn-primary" style="width: 200px"><img src="/img/facebook.png" class="login_image">Login via Facebook</button>
            <button class="btn btn-primary" style="width: 200px"><img src="/img/google.png" class="login_image">Login via Google</button>
            <br/>
            <button class="btn btn-info" style="width: 200px; margin-top: 20px"><a href="/signup">Register locally</a></button>
        </div>
    </div>
    <div class="logged_on">
        <div class="jumbotron text-center">
            <button class="btn btn-primary" style="width: 200px;"><img src="/img/local.png" class="login_image">Logout</button>
        </div>
    </div>

<% include footer.ejs %>