<!DOCTYPE html>
<html>
    <head>
        <!--When server starts, generates js script under above link-->
        <script src="/socket.io/socket.io.js"></script>
        <script src='jquery.min.js'></script>
        <link rel="stylesheet" href='css/bootstrap.min.css' />
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/application.js"></script>
        <title></title>
    </head>
    <body>
        <div id="chat">
            <div class="text-chat"></div>
            <div class="input-chat">
                <form method="get">
                    <input type="text">
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>
