body .login_image {
  max-height: 50px;
}
body .logged_on {
  display: none;
}
body ul {
  list-style-image: url('../img/right_small.png');
}
body .message .message-nickname {
  text-decoration: underline;
  font-weight: bold;
  color: #2aabd2;
}
body .message .message-nickname:nth-child(2n) {
  color: #009900 !important;
}
