#chat {
  border: 2px solid black;
  width: 500px;
  height: 500px;
}
#chat .text-chat {
  height: 400px;
  border-bottom: black 2px solid;
  overflow: scroll;
}
#chat .input-chat {
  background-color: blue;
}
#chat .input-chat #contentMessage {
  float: left;
  width: 80%;
}
#chat .input-chat #sendMessage {
  float: right;
}
